*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-color: black;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}
.navbar{
    width: 100%;
    margin: auto;
    padding: 0px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(27, 27, 29, 0.4);

}

.navbar img{
    width: 25%;
    display: flex;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(88, 201, 182);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
    color: rgb(88, 201, 182);
}

#title{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    color: whitesmoke;
}

#title span{
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#title h1{
    font-size: 80px;
    margin-top: 10px;
}
.content p{
    margin: 0;
    font-weight: 100;
    margin-top: 2%;
    font-size: 20px;
    line-height: 25px;
}
.aboutMe h1{
    font-size: 50px;
    text-align: center;
}
.logo{
    width: 20%;
    cursor: pointer;
}
.typing{
    color: mintcream;
}
.home-content{
    font-size: 25px;
    border-left: 100%;
}
.iAmA{
    margin-top: 20%;
    text-align: center;
    color: #fff;
}
